@media screen and (min-width: 1025px) {
  
  :root {
    --primary-color: #9F390C;
    --secondary-color: #0C299F;
    --font-style-color: #E5E4E2;
    --border-color: #636363;
    --font-color: white;
    --main-bg-color: white;
    --card-bg-color: #E5E4E2;
    --card-text-color: black;
    --outline-color: black;
    --shadow-color: grey;
    --cta-bg-color: rgba(12, 41, 159, 0.7);
  }

  [data-theme="dark"] {
    --primary-color: #9F390C;
    --secondary-color: #06144C;
    --font-style-color: #E5E4E2;
    --border-color: #636363;
    --font-color: white;
    --main-bg-color: #121212;
    --card-bg-color: #201F1D;
    --card-text-color: #E5E4E2;
    --outline-color: black;
    --shadow-color: grey;
    --cta-bg-color: rgba(6, 20, 76, 0.7);
  }

    body {
      max-width: 1058px;
      margin: 0 auto;
    }
    
    header {
      display: grid;
      grid-template-columns: 25% 50% 25%;
      grid-template-rows: auto auto;
    }
    
    .city-logo-header {
      grid-column: 1 / 2;
      grid-row: 1 / 3;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
    
    .page-name-1 {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      font-size: 5rem;
      padding-top: 1rem;
    }
  
    .page-name-2 {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      font-size: 3rem;
      padding-bottom: 1rem;
      margin: 0;
      justify-self: center;
    }

    .theme-switch-wrapper {
      grid-column: 3 / 4;
      grid-row: 1 / 2;
      display: flex;
      text-align: right;
      padding: 1rem;
    }
  
    .theme-switch {
      display: inline-block;
      height: 34px;
      position: relative;
      width: 60px;
      margin-left: auto;
    }
    
    .theme-switch input {
      display:none;
    }
    
    .slider {
      background-color: white;
      bottom: 0;
      cursor: pointer;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: .4s;
    }
    
    .slider:before {
      background-color: #636363;
      bottom: 4px;
      content: "";
      height: 26px;
      left: 4px;
      position: absolute;
      transition: .4s;
      width: 26px;
    }
    
    input:checked + .slider {
      background-color: #66BB6A;
    }
    
    input:checked + .slider:before {
      transform: translateX(26px);
    }
    
    .slider.round {
      border-radius: 34px;
    }
    
    .slider.round:before {
      border-radius: 50%;
    }

    .social {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      grid-column: 3 / 4;
      grid-row: 2 / 3;
      padding: 10px;
    }
    
    .social > div {
      margin: 10px;
      padding: 0;
    }
    
    nav ul {
      display: flex;
      padding: 10px;
      margin: 0;
    }
  
    nav li {
      list-style-type: none;
    }
  
    nav ul li {
      display: block;
      flex: 1 1 100%;
      padding: 0;
    }
  
    #menu {
          display: none;
    }
    
    main {
      background-color: var(--main-bg-color);
    }

    .call-to-action-large {
      display: block;
      font-size: 2rem;
      position: absolute;
      width: 240px;
      height: 95px;
      top: 7%;
      left: 72%;
      transform: translate(0, 0);
      padding: 0;
      background-color: var(--cta-bg-color);
    }
    
    .call-to-action-large p {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 95px;
      margin: 0;
    }

    .call-to-action-small {
      display: none;
    }
    
    .call-to-action-medium {
      display: none;
    }
    
    img {
      max-width: 100%;
      max-height: 100%;
      margin: 0 auto;
    }

    .hover {
      margin-top: 0;
    }
    
    .city-photo {
      padding-top: 1rem;
      max-width: 96%;
    }

    .discover {
      display: grid;
      grid-template-columns: 424px 624px;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      justify-items: center;
      align-items: center;
      padding-bottom: 10px;
    }

    .olive-frame {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }

    .olive-mill-div {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      position: relative;
    }

    .san-tan-frame {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }

    .san-tan-park-div {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      position: relative;
    }

    .horseshoe-frame {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
    }

    .horseshoe-park-div {
      grid-column: 2 / 3;
      grid-row: 3 / 4;
      position: relative;
    }

    .schnepf-frame {
      grid-column: 1 / 2;
      grid-row: 4 / 5;
    }

    .schnepf-farms-div {
      grid-column: 2 / 3;
      grid-row: 4 / 5;
      position: relative;
    }

    .mansel-frame {
      grid-column: 1 / 2;
      grid-row: 5 / 6;
    }

    .mansel-carter-div {
      grid-column: 2 / 3;
      grid-row: 5 / 6;
      position: relative;
    }

    .qc-arts-frame {
      grid-column: 1 / 2;
      grid-row: 6 / 7;
    }

    .qc-arts-center-div {
      grid-column: 2 / 3;
      grid-row: 6 / 7;
      position: relative;
    }

    .qc-town-hall-div {
      grid-column: 2 / 3;
      grid-row: 7 / 8;
      position: relative;
    }

    .page-visits-div {
      grid-column: 1 / 2;
      grid-row: 7 / 8;
      width: 400px;
      height: 400px;
      border: 2px solid black;
    }

    .page-visits-div p {
      margin: 0;
      font-size: 2.5rem;
    }

    .olive-mill-label,
    .san-tan-park-label,
    .horseshoe-label,
    .schnepf-farms-label,
    .mansel-carter-label,
    .qc-arts-center-label, 
    .qc-town-hall-label {
      position: absolute;
      width: 350px;
      top: 90%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 1;
    }
    
    .olive-mill-label,
    .san-tan-park-label,
    .horseshoe-label,
    .schnepf-farms-label,
    .mansel-carter-label,
    .qc-arts-center-label, 
    .qc-town-hall-label p {
      margin: 0;
      padding: .25rem;
      font-size: 1.8rem;
      font-weight: 700;
      color: yellow;
      text-shadow: 1px 1px 0 #000000, -1px 1px 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000;
      text-align: center;
    }
  
    .hover:hover {
      box-shadow: 0 0 50px #333;
    }

    .card-box {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }

    .card1,
    .card2,
    .card3,
    .card4,
    .card5 {
      background-color: var(--card-bg-color);
      color: var(--card-text-color);
    }
  
    .card1 {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
    }
    
    .card2 {
      grid-column: 3 / 4;
      grid-row: 1 / 2;
    }
    
    .card3 {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }
    
    .card4 {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }
    
    .card5 {
      grid-column: 3 / 4;
      grid-row: 2 / 3;
    }
    
    .upper-footer {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: none;
      padding-bottom: 1rem;
    }
  
    .upper-footer picture {
      grid-column: 1 / 2;
      grid-row: none;
      margin: auto;
    }
  
    .coc-address {
      grid-column: 2 / 3;
      grid-row: none;
      padding-bottom: 0;
      text-align: center;
    }
  
    .coc-contact {
      grid-column: 3 / 4;
      grid-row: none;
      align-self: center;
    }
    
    .lower-footer {
      display: none;
    }
    
    .lower-footer-version-2 {
      display: block;
      text-align: center;
      padding-top: 1rem;
    }
    
  }
  