@media screen and (min-width: 481px) {
  
  :root {
    --primary-color: #9F390C;
    --secondary-color: #0C299F;
    --font-style-color: #E5E4E2;
    --border-color: #636363;
    --font-color: white;
    --main-bg-color: white;
    --card-bg-color: #E5E4E2;
    --card-text-color: black;
    --outline-color: black;
    --shadow-color: grey;
    --cta-bg-color: rgba(12, 41, 159, 0.7);
    --zebra-color: hsl(0, 0%, 89%, 1);
    --table-border: hsla(0,0%,33%,.3);
    --form-border: #0C299F;
  }

  [data-theme="dark"] {
    --primary-color: #9F390C;
    --secondary-color: #06144C;
    --font-style-color: #E5E4E2;
    --border-color: #636363;
    --font-color: white;
    --main-bg-color: #121212;
    --card-bg-color: #201F1D;
    --card-text-color: #E5E4E2;
    --outline-color: #E5E4E2;
    --shadow-color: grey;
    --cta-bg-color: rgba(6, 20, 76, 0.7);
    --zebra-color: #201F1D;
    --table-border: #E5E4E2;
    --form-border: #E5E4E2;
  }

  .theme-switch-wrapper {
    grid-column: 5 / 6;
    grid-row: 1 / 2;
    display: flex;
    text-align: right;
    padding: 1rem;
  }

  .theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
    margin-left: auto;
  }
  
  .theme-switch input {
    display:none;
  }
  
  .slider {
    background-color: white;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .slider:before {
    background-color: #636363;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
  }
  
  input:checked + .slider {
    background-color: #201F1D;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  header {
    display: grid;
    grid-template-columns: 30% 17% 16% 17% 20%;
    grid-template-rows: auto auto auto;
  }
  
  .city-logo-header {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    align-self: center;
  }

  .city-logo-header img {
    width: 200px;
    height: auto;
    margin: 0 auto 0 1rem;
    padding: 0;
  }

 
  .page-name-1 {
    font-size: 4rem;
    padding-top: 1rem;
    grid-column: 2 / 5;
    grid-row: 1 / 2;
  }

  .page-name-2 {
    font-size: 2.5rem;
    padding-bottom: 1rem;
    grid-column: 2 / 6;
    grid-row: 2 / 3;
    margin: 0;
    justify-self: left;
  }

  .social {
    grid-column: 2 / 5;
    grid-row: 3 / 4;
  }
  
  .social-1 {
    justify-self: right;
    margin: 0;
    padding-bottom: 1rem;
  }

  .social-2 {
    justify-self: center;
    margin: 0;
    padding-bottom: 1rem;
  }
  
  .social-3 {
    justify-self: left;
    margin: 0;
    padding-bottom: 1rem;
  }
  
  nav ul {
    display: flex;
    padding: 5px;
    margin: 0;
  }

  nav li {
    list-style-type: none;
  }

  nav ul li {
    display: block;
    flex: 1 1 100%;
    padding: 0;
  }

  #menu {
    display: none;
  }

  main {
    background-color: var(--main-bg-color);
  }

  .home-area {
    padding-top: 10px;
  }

  .city-photo img {
    margin: 0 auto;
  }

  .call-to-action {
    display: block;
    position: absolute;
    width: 300px;
    height: 50px;
    top: 92%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    background-color: var(--cta-bg-color);
    font-size: 1.5rem;
  }

  .call-to-action a {
    width: 300px;
    height: 50px;
    line-height: 50px;
  }

  .call-to-action a:hover {
    background-color: var(--primary-color);
    color: var(--font-color);
  }

  .discover {
    padding-top: 1px;
  }

  .discover > div {
    display: flex;
    justify-content: center;
  }

  .hover {
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 100%;
    height: auto;
  }

  .hover:hover {
    box-shadow: 0 0 50px #333;
  }

  .olive-mill-label,
  .san-tan-park-label,
  .horseshoe-label,
  .schnepf-farms-label,
  .mansel-carter-label,
  .qc-arts-center-label, 
  .qc-town-hall-label {
    width: 520px;
    top: 85%;
  }
  
  .olive-mill-label p,
  .san-tan-park-label p,
  .horseshoe-label p,
  .schnepf-farms-label p,
  .mansel-carter-label p,
  .qc-arts-center-label p, 
  .qc-town-hall-label p {
    font-size: 1.8rem;
  }
  
  .card-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    padding-bottom: 10px;
  }

  .card1,
  .card2,
  .card3,
  .card4,
  .card5 {
    background-color: var(--card-bg-color);
    color: var(--card-text-color);
  }

  .card1 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
  
  .card2 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
  
  .card3 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  
  .card4 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  
  .card5 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .city-logo img {
    width: 200px;
    height: auto;
    margin: 0 auto 0 1rem;
    padding: 0;
  }
  
  .coc-contact {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    align-self: center;
  }

  .coc-address {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    padding-bottom: 1rem;
    align-self: center;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }

  .list section {
    display: grid;
    grid-template-columns: 300px 365px 135px;
    grid-template-rows: 30px 30px;
    border-radius: 0;
    box-shadow: 0 0 0;
    margin: 0;
    border: none;
  }

  .list {
    padding-bottom: 1rem;
  }
  
}