@import url("https://fonts.googleapis.com/css?family=Lato");

body {
  color: white;
  background-color: black;
  font-family: "Lato", "Arial", sans-serif;
}

h1 {
  font-family: "Garamond", serif;
  text-align: center;
}

h2 {
  text-align: center;
}

header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  text-shadow: 2px 2px 8px #000000;
  background-color: darkred;
  padding: 40px;
  border: 5px solid white;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

header picture img {
  grid-column: 1 / 2;
  width: 200px;
  max-width: 100%;
  border: 2px solid black;
}

.full-name {
  grid-column: 2 / 4;
  padding-left: 30px;
}

#menu {
	display: block;
  position: absolute;
	font-size: 2rem;
	font-weight:700;
	text-decoration: none;
	padding: 5px 1rem 0px 1rem;
	background-color: black;
	color: white;
  border-left: 5px solid white;
  border-right: 5px solid white;
}

#menu::before {
	content: "🍔";
}

nav {
  border-left: 5px solid white;
  border-right: 5px solid white;
}

nav ul {
  padding: 10px;
  margin: 0;
}

nav li {
  list-style-type: none;
  display: none;
}

nav a {
  display: block;
  font-size: 1.5em;
  font-family: "Garamond", serif;
  padding: 10px;
  text-align: center;
}

nav a:link { 
  color: white;
  text-decoration: none;
}

nav a:visited {
  color: darkred;
}

nav a:hover {
  background-color: darkred;
  color: white;
}

nav a.current:link {
  color: gold;
}

.show li {
	display: block;
}

#menu.show::before {
	content: "🍟";
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: black;
  background-color: white;
}

.home-headline {
  grid-column: 1 / 3;
  font-size: 1.5em;
  margin-top: 24px;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 10px;
  border-bottom: 3px solid black;
}

.card-box {
  grid-column: 1 / 3;
}

.card {
  margin-left: 1rem;
  margin-right: 1rem;
  border: 2px solid black;
  border-radius: 7px;
  margin-bottom: 10px;
}

.card-headline-1,
.card-headline-2 {
  line-height: 3rem;
  height: 3rem;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  background-color: darkred;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: 0;
  text-shadow: 1px 1px 0 #000000, -1px 1px 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000;
}

.card-list {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0;
}

.card-list li {
  font-size: 1.1em;
  list-style-type: none;
  padding-top: 5px;
  padding-bottom: 5px;
}

.card p {
  text-align: center;
  font-size: 1.1em;
}

footer {
  border: 5px solid white;
  background-color: darkred;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

footer picture img {
  border: 2px solid black;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer-paragraph-1,
.footer-paragraph-2 {
  text-align: center;
  font-size: 1.1em;
  text-shadow: 2px 2px 8px #000000;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
