@import url("https://fonts.googleapis.com/css?family=Lato");

h1 {
  font-family: "Garamond", serif;
  text-align: center;
}

h2 {
  text-align: center;
}

header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  font-size: 1.5em;
  text-shadow: 2px 2px 8px #000000;
  background-color: darkred;
  padding: 40px;
  border: 5px solid white;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  margin-top: 5px;
}

header img {
  grid-column: 1 / 2;
  width: 200px;
  max-width: 100%;
  border: 3px solid black;
}

.full-name {
  grid-column: 2 / 4;
  padding-left: 20px;
}

nav {
  border-left: 5px solid white;
  border-right: 5px solid white;
  max-width: 700px;
}

nav ul {
  padding: 10px;
  margin: 0;
}

nav a {
  display: block;
  font-size: 1.5em;
  list-style-type: none;
  font-family: "Garamond", serif;
  padding: 10px;
  text-align: center;
}

nav a:link { 
  color: white;
  text-decoration: none;
}

nav a:visited {
  color: darkred;
}

nav a:hover{
  color: gold;
}

.content {
  max-width: 700px;
  margin: 0 auto;
}

.home-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto ;
  color: #000000;
  background-color: white;
  justify-items: center;
}

.home-headline {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  font-size: 1.8em;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 10px;
  border-bottom: 3px solid black;
}

.card {
  grid-column: 1 / 3;
  margin-left: 1rem;
  margin-right: 1rem;
  border: 2px solid black;
  border-radius: 7px;
  margin-bottom: 10px;
}

.card-headline {
  grid-column: 1 / 3;
  line-height: 3rem;
  height: 3rem;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  background-color: darkred;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: 0;
  text-shadow: 1px 1px 0 #000000, -1px 1px 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000;
}

.card-list {
  grid-column: 1 / 3;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0;
}

.card-list li {
  font-size: 1.1em;
  list-style-type: none;
  padding-top: 5px;
  padding-bottom: 5px;
}

.card p {
  text-align: center;
  font-size: 1.1em;
}

body {
  color: white;
  background-color: #000000;
  font-family: "Lato", "Arial", sans-serif;
}

main {
  background-color: #000000;
}

footer {
  border: 5px solid white;
  background-color: darkred;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

footer img {
  border: 2px solid black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 64px;
  height: auto;
}

.footer-paragraph-1,
.footer-paragraph-2 {
  text-align: center;
  font-size: 1.1em;
  text-shadow: 2px 2px 8px #000000;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 550px) {
  /* beginning of media query */
  .home-grid {
    display: block;
  }

  /* end of media query */
}
