@media screen and (min-width: 640px) {

    .content {
        max-width: 1000px;
        margin: 0 auto;
      }

      header {
        display: grid;
        grid-template-columns: 1fr 2fr;
        justify-content: center;
      }

      header img {
        grid-column: 1 / 2;

      }

      .full-name {
        grid-column: 2 / 4;
      }

    main {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    nav ul {
        display: flex;

    }

    nav li {
        list-style-type: none;
    }

    nav ul li {
        flex: 1 1 100%;
    }
}